version: "3.3"

services:
  rmq:
    restart: always
    image: rabbitmq:management-alpine
    ports:
      - "15671-15672:15671-15672"

  mongo:
    restart: always
    build:
      dockerfile: MongoDB-Dockerfile
      context: .
    environment:
      MONGO_INITDB_ROOT_USERNAME: root-user
      MONGO_INITDB_ROOT_PASSWORD: root-user
      MONGO_INITDB_USERNAME: user
      MONGO_INITDB_PASSWORD: user
      MONGO_INITDB_DATABASE: backend
    volumes:
      - sunjad_db:/data/db

  server:
    build:
      dockerfile: Server-Dockerfile
      context: .
    restart: always
    depends_on:
      - rmq
      - mongo
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./sso/additional-info.json:/opt/app/sso/additional-info.json
      - ./sso/faculty-base-additional-info.json:/opt/app/sso/faculty-base-additional-info.json
      - ./sso/faculty_exchange_route.json:/opt/app/sso/faculty_exchange_route.json

volumes:
  sunjad_db: